@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.card {
    @apply rounded-md border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 text-zinc-700 dark:text-white;
}

.card-hover {
    @apply hover:bg-zinc-50 dark:hover:bg-zinc-900 text-zinc-700 dark:text-white;
}

/**
 * Heading
 */
.h1 {
    @apply text-2xl font-bold text-gray-800 dark:text-gray-300
}

/**
 * Dropdown
 */
.btn-dropdown {
    @apply cursor-pointer rounded-md border flex items-center truncate border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 text-zinc-700 dark:text-white px-4 py-2 text-sm font-medium focus:outline-none;
}

/**
 * table
 */
 /**
 * Table
 */
.table {
    @apply min-w-full divide-y divide-zinc-200 dark:divide-zinc-700 ;
}

.table-thead {
    @apply bg-white dark:bg-zinc-800;
}

.table-th {
    @apply py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-zinc-900 dark:text-zinc-100 sm:pl-6;
}

.table-tbody {
    @apply divide-y divide-zinc-200 dark:divide-zinc-700 bg-white dark:bg-zinc-800/60;
}

.table-td {
    @apply whitespace-nowrap text-sm py-4 px-4 sm:px-6 text-zinc-600 dark:text-zinc-300;
}

/**
 * Form
 */
.kbd-search {
    @apply inline-flex items-center rounded border border-gray-200 dark:border-gray-700 px-2.5 font-sans text-sm font-medium text-gray-400 dark:text-gray-500;
}

/**
 * Scrollbar
 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #eff0f1;
}

::-webkit-scrollbar-thumb {
    background: #b3b8c0;
    border-radius: 100vh;
    border: 2px solid #e5e7eb;
}

::-webkit-scrollbar-thumb:hover {
    background: #9ea2ad;
}
